<div class="flex justify-start flex-col w-full mt-5">
  <ul class="flex flex-col gap-4 pl-5 font-semibold col-span-1 text-lg">
    <a href="/painelAdm" class="hover:text-red-500 ease-in-out duration-300">
      <li class=""><button id="verificarRole">Voltar ao Painel </button></li>
    </a>
    <a href="/logout" class="hover:text-red-500 ease-in-out duration-300 w-fit">
      <li><button class="border border-red-500 rounded-full px-6 py-1 text-red-500 font-semibold">Sair</button></li>
    </a>
  </ul>
</div>
<div class="w-full h-fit text-black px-3 py-5 flex justify-center items-center md:mt-12">
  <div class="max-w-screen-2xl w-full h-fit flex flex-col gap-5 items-center">
    <div class="w-full h-full bg-white border border-gray-50 shadow-md rounded-md flex flex-col p-3 ">
      <div
        class="grid grid-cols-5 w-full p-1 border mb-3 border-red-500 h-full flex items-center justify-center font-semibold text-sm md:text-lg rounded-lg">
        <div class="flex justify-center border-r">
          <h2>Nome</h2>
        </div>
        <div class="flex justify-center border-r">
          <p>CPF</p>
        </div>
        <div class="flex justify-center border-r">
          <p>Email</p>
        </div>
        <div class="flex justify-center border-r">
          <p>Data da Contratação</p>
        </div>
        <div class="flex justify-center border-r">
          <p>Ações</p>
        </div>

      </div>
      <div
        class="grid grid-cols-5 gap-3 w-full h-full p-1 items-center justify-center auto-rows-max text-sm md:text-lg">
        {{#each User}}
        {{#dataValues}}
        <div class="auto-rows-max col-start-1 flex items-center justify-center">{{nome}}</div>
        <div class="auto-rows-max col-start-2 flex items-center justify-center">{{cpf}}</div>
        <div class="auto-rows-max col-start-3 flex items-center justify-center">{{email}}</div>
        <div class="auto-rows-max col-start-4 flex items-center justify-center">{{createdAt}}</div>
        <div class="auto-rows-max col-start-5 flex gap-4 items-center justify-center text:sm">
          <button type="button" class="text-sm border bg-red-500 rounded-lg px-3 py-1 text-white font-semibold"><a
              href="/excluirGerente/{{UserId}}" style="color:inherit">Excluir</a></button>

        </div>
        {{/dataValues}}
        {{/each}}
      </div>
    </div>
  </div>
</div>