<div
  class="w-full h-fit text-black px-3 py-5 flex justify-center items-center md:mt-12"
>
  <div class="max-w-screen-2xl w-full h-fit flex flex-col gap-5 items-center">
    <div
      class="w-full h-full bg-white border border-gray-50 shadow-md rounded-md flex flex-col p-3 "
    >
      <div
        class="grid grid-cols-5 w-full p-1 border mb-3 border-red-500 h-full flex items-center justify-center font-semibold text-sm md:text-lg rounded-lg"
      >
        <div class="flex justify-center border-r">
          <h2>Nome</h2>
        </div>
        <div class="flex justify-center border-r">
          <p>Preço</p>
        </div>
        <div class="flex justify-center border-r">
          <p>Descrição</p>
        </div>
        <div class="flex justify-center border-r">
          <p>Categoria</p>
        </div>
        <div class="flex justify-center border-r">
          <p>Ações</p>
        </div>

      </div>
      <div
        class="grid grid-cols-5 gap-3 w-full h-full p-1 items-center justify-center auto-rows-max text-sm md:text-lg"
      >
        {{#each Produto}}
          {{#dataValues}}
            <div
              class="auto-rows-max col-start-1 flex items-center justify-center"
            >{{nome}}</div>
            <div
              class="auto-rows-max col-start-2 flex items-center justify-center"
            >R$ {{valor}},00</div>
            <div
              class="auto-rows-max col-start-3 flex items-center justify-center"
            >{{descricao}}</div>
            <div
              class="auto-rows-max col-start-4 flex items-center justify-center"
            >{{categoria}}</div>
            <div
              class="auto-rows-max col-start-5 flex gap-4 items-center justify-center text:sm"
            >
              <button type="button" class=" text-sm border border-red-500 rounded-lg px-3 py-1 text-red-500 font-semibold"><a
                  href="/editar/{{ProdutoId}}"
                  style="color:inherit"
                >Editar</a></button>
              <button type="button" class="text-sm border bg-red-500 rounded-lg px-3 py-1 text-white font-semibold"><a
                  href="/excluir/{{ProdutoId}}"
                  style="color:inherit"
                >Excluir</a></button>

            </div>
          {{/dataValues}}
        {{/each}}
      </div>
    </div>
  </div>
</div>