<div class="flex min-h-[640px] flex-col justify-center items-center px-3 py-12 max-w-screen-2xl w-full">
  <div class="sm:mx-auto sm:w-full sm:max-w-sm">
    <h2 class="mt-10 text-center text-2xl font-bold leading-9 tracking-tight text-gray-900 capitalize">Faça login em sua
      conta</h2>
  </div>
  {{#if successMessage}}
  <div
    class="flex flex-col items-center text-center text-sm bg-green-500/20 border border-green-500 text-green-700 px-4 py-3 rounded-md mt-5 shadow-md">
    <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 mb-1" fill="none" viewBox="0 0 24 24" stroke="currentColor">
      <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7" />
    </svg>
    <span>{{successMessage}}</span>
  </div>
  {{/if}}

  {{#if errorMessage}}
  <div
    class="flex flex-col text-center text-sm bg-red-500/20 px-3 py-2 rounded-md mt-5 sm:mx-auto sm:w-full sm:max-w-sm">
    <span>{{{errorMessage}}}</span>
  </div>
  {{/if}}

  <div class="mt-5 sm:mx-auto sm:w-full sm:max-w-sm">
    <form class="space-y-3" action="/login" method="POST">
      <div>
        <label for="email" class="block font-medium leading-6 text-gray-900">Email</label>
        <div class="mt-2">
          <input id="email" name="email" type="email" autocomplete="email" required
            class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset sm:text-sm sm:leading-6 outline-none px-2"
            value="{{#if email}}{{email}}{{/if}}">
        </div>
      </div>

      <div>
        <div class="flex items-center justify-between">
          <label for="password" class="block font-medium leading-6 text-gray-900">Senha</label>
        </div>
        <div class="mt-2">
          <input id="password" name="password" type="password" autocomplete="current-password" required
            class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset sm:text-sm sm:leading-6 outline-none px-2">
        </div>
      </div>
      {{#if message}}
      <div class="flex flex-col text-center text-sm bg-red-500/20 px-3 py-2 rounded-md">
        <span>{{message.[0]}}</span>
        <span>{{message.[1]}}</span>
      </div>
      {{/if}}
      <div>
        <button type="submit"
          class="flex w-full justify-center rounded-md bg-red-600 px-3 py-1.5 font-semibold leading-6 text-white shadow-sm hover:bg-red-600/90 transition-all ease-in-out duration-300">Entrar</button>
      </div>
    </form>
    <p class="mt-10 text-center text-black">
      Não tem conta?
      <a href="/signin" class="underline font-semibold leading-6 text-red-600 hover:text-red-600/80">Criar conta
        agora!</a>
    </p>

  </div>
</div>
